<mat-card>
  <table mat-table [dataSource]="books">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Año </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Categoría </th>
      <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
    </ng-container>

    <ng-container matColumnDef="rateAverage">
      <th mat-header-cell *matHeaderCellDef> Promedio Cal. </th>
      <td mat-cell *matCellDef="let element"> {{element.rateAverage}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
          (click)="onBookSelected(element)">
          <mat-icon>favorite</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="!books.length" class="w-100 d-flex justify-content-center mt-3">
    <span>No se encontraron registros</span>
  </div>
</mat-card>