<p>
  <mat-toolbar color="primary">
    <span>Books</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" (click)="openBookEditorDialog()">Nuevo</button>
  </mat-toolbar>
</p>

<div class=container>
  <div class="row mb-4 mt-4">
    <div class="lg-12">
      <bs-book-filter (onFiltersChange)="onFiltersChange($event)" [categories]="categories">
      </bs-book-filter>
    </div>
  </div>
  <div class="row">
    <div class="lg-12">
      <bs-book-list [dataSource]="books" (bookClick)="onBookSelect($event)"></bs-book-list>
    </div>
  </div>
</div>